.currency-converter {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.currency-converter input,
.currency-converter select,
.currency-converter button {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.currency-converter button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.currency-converter button:hover {
  background-color: #45a049;
}

::ng-deep .mat-mdc-select-panel {
  max-height: 250px !important;
  overflow: auto;
  border: solid 1px #e1e1e1;
  margin: 0;
  list-style-type: none;
  position: absolute !important;
  padding: 0 !important;
}

::ng-deep textarea {
  overflow-y: auto;
  resize: none;
  height: 122px !important;
  width: 100%;
  padding: 0;
}

::ng-deep .cdk-overlay-pane {
  position: absolute;
}
