.currency-converter {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #3498db; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #ecf0f1; 
}

.input-label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #3498db; 
}

mat-form-field {
  width: 100%;
}

mat-select {
  width: 100%;
}

mat-select-trigger {
  color: #3498db; 
}

mat-option {
  color: #333; 
}

mat-option:hover {
  background-color: #3498db; 
  color: white;
}

button {
  margin-top: 10px;
}

button[mat-flat-button] {
  width: 100%;
}

textarea {
  overflow-y: auto;
  resize: none;
  height: 100px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #3498db; 
  border-radius: 5px;
  background-color: #fff; 
  color: #333; 
}
